{% extends 'base.html.twig' %}

{% block body %}
    <div id="book-list"></div>
    <div id="app1"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/list.js') }}"></script>
{% endblock %}
